# Generated
/build
/dist
/src/frontend/backend.js
/src/frontend/backend.wasm
/src/frontend/boards.js
a.out
a.out.js
a.out.wasm
*.exe
*.lib
*.exp
*.pdb
node_modules

# IDE
.vscode
.vs
CppProperties.json
