body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

svg#svg-defs {
    /*
    Note that "display: none" won't work because we still want to access
    the defs using #ids.
    */
    height: 0;
    width: 0;
}

div#body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
}

div#game-wrapper {
    position: relative;
    aspect-ratio: 9 / 16;
    --half-moon-size: calc(30 * var(--gh));
}
/* --gh is 1% of height of div#game-wrapper */
@media (min-aspect-ratio: 9 / 16) {
    div#game-wrapper {
        height: 100vh;
        --gh: 1vh;
    }
}
@media (max-aspect-ratio: 9 / 16) {
    div#game-wrapper {
        width: 100vw;
        --gh: calc(16 / 9 * 1vw);
    }
}

div.scene {
    display: none;
}

div#background,
div.scene.visible {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Background */

div#background {
    background: linear-gradient(
        90deg,
        rgb(124, 155, 255) 0%,
        rgb(93 122 218) 25%,
        rgb(59 84 167) 50%,
        rgb(39 60 128) 75%,
        rgb(50 65 100) 100%
    );
    /* The half moon SVG needs this: */
    overflow: hidden;
}

svg#half-moon {
    display: block;
    position: relative;
    width: var(--half-moon-size);
    top: calc(var(--half-moon-size) / -2);
    margin: 0 auto;
}

/* Loading scene */

div#loading-scene.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#loading-card-wrapper svg.card {
    position: static;
}

/* Menu scene */

div#menu-scene.visible,
div#game-static-layer {
    padding-top: calc(var(--half-moon-size) * 0.55);
    box-sizing: border-box;
}

div#menu-scene > :not(:last-child) {
    margin-bottom: 4em;
}

div#menu-buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2em;
    gap: 0.3em;
}

div#menu-buttons > button {
    display: block;
    padding: 0.3em 0;
    font-size: inherit;
}

/* Game scene */

div#game-scene {
    /* In order for "fly-in" animations to work: */
    overflow: hidden;
}

div#game-floating-layer > * {
    position: absolute;
}

div#game-static-layer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: calc(3 * var(--gh));
    padding-right: calc(3 * var(--gh));
    height: 100%;
    width: 100%;
}

button#exit-button {
    top: calc(3 * var(--gh));
    left: calc(3 * var(--gh));
    padding: 0.2em 0.6em;
}

div#lunar-cards-placeholder-wrapper {
    width: 100%;
    padding: calc(3 * var(--gh)) 0;
}

div#lunar-cards-placeholder,
div#user-cards-placeholder {
    margin: 0 auto;
}

div#game-board {
    margin: calc(1.5 * var(--gh)) auto;
    box-sizing: border-box;
    height: calc(28 * var(--gh));
}

svg#edges {
    height: 100%;
}

div#lunar-score-bar,
div#user-score-bar {
    display: flex;
    gap: var(--gh);
    align-items: center;
}

div#lunar-score-bar {
    justify-content: flex-end;
}

div#user-score-bar {
    justify-content: flex-start;
}

span#lunar-score-text {
    color: #acbff3;
}

span#user-score-text {
    color: #dee7ff;
}

div#wildcards {
    /* TBD */
    height: calc(8 * var(--gh));
    width: 100%;
}

div#dialogue-box {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: solid 2px white;
    color: white;
}

/* Game floating layer */

div#game-board-slots > button {
    position: absolute;
    background-color: #212c53;
    border: solid 2px #3b447f;
    border-radius: 0;
    padding: 0;
}
div#game-board-slots.enabled > button {
    cursor: pointer;
}
div#game-board-slots > button > svg {
    display: none;
    padding: 6%;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
div#game-board-slots.enabled > button:hover > svg {
    display: initial;
}

div#user-hand.enabled > svg.card {
    cursor: pointer;
}

svg#user-card-selection-box {
    transform: scale(1.2);
    transition: opacity 0.2s, left 0.2s ease;
}

div#stars svg.star {
    position: absolute;
}

/* svg.card coloring */

svg.card {
    --white-border: #ecf1ff;
    --black-border: black;
    --gray-border: #3e558a;
    position: absolute;
    /* The actual position will be set dynamically. */
    transform-style: preserve-3d;
}

svg.card.gray path.frame {
    stroke: var(--gray-border);
    fill: #25355e;
}

svg.card.black path.frame {
    stroke: var(--black-border);
    fill: #10183a;
}

svg.card.white path.frame {
    stroke: var(--white-border);
    fill: #7697ef;
}

svg.card.back path.frame {
    stroke: #c8d6e1;
    fill: url(#card-back-fill);
}

svg.card.gray .stars,
svg.card.gray .beams {
    fill: var(--gray-border);
}

svg.card.black .stars,
svg.card.black .beams {
    fill: var(--black-border);
}

svg.card.white .stars,
svg.card.white .beams {
    fill: var(--white-border);
}

svg.card .moon {
    fill: #40578c;
}
svg.card.back .moon {
    fill: rgb(150 163 191);
}

svg.card .phase,
svg.card .stars,
svg.card .beams,
svg.card .question-mark {
    visibility: hidden;
}

svg.card.new-moon .stars,
svg.card.waxing-crescent .stars.left,
svg.card.waxing-crescent .beams.right,
svg.card.first-quarter .stars.left,
svg.card.first-quarter .beams.right,
svg.card.waxing-gibbous .stars.left,
svg.card.waxing-gibbous .beams.right,
svg.card.waning-crescent .stars.right,
svg.card.waning-crescent .beams.left,
svg.card.final-quarter .stars.right,
svg.card.final-quarter .beams.left,
svg.card.waning-gibbous .stars.right,
svg.card.waning-gibbous .beams.left,
svg.card.full-moon .beams,
svg.card.waxing-crescent .phase.waxing-crescent,
svg.card.first-quarter .phase.first-quarter,
svg.card.waxing-gibbous .phase.waxing-gibbous,
svg.card.waning-crescent .phase.waning-crescent,
svg.card.final-quarter .phase.final-quarter,
svg.card.waning-gibbous .phase.waning-gibbous,
svg.card.full-moon .phase.full-moon,
svg.card.back .question-mark {
    visibility: visible;
}

/* svg.star coloring */

svg.star {
    width: calc(2.7 * var(--gh));
}
svg.star.black path {
    fill: black;
    stroke: #35467d;
}
svg.star.white path {
    fill: white;
    stroke: #8494c3;
}

/* svg#edges coloring */

svg#edges > line {
    stroke: #58638b;
    stroke-width: 0.02;
}

/* General stuffs */

p {
    color: white;
    margin: 0.2em 0;
    padding: 0 1em;
}

a {
    color: #bdcfff;
}
a:visited {
    color: #a2bbff;
}
a:hover {
    color: #cad7ff;
}

button.ui {
    font-family: inherit;
    background: linear-gradient(
        90deg,
        rgb(96 134 255) 0%,
        rgb(158 128 255) 100%
    );
    color: white;
    border-style: solid;
    border-image: url("button_border.png") 30 / 0.7em / 0.1em;
}
button.ui:enabled:hover {
    background: linear-gradient(
        90deg,
        rgb(58 104 255) 0%,
        rgb(137 101 255) 100%
    );
}

.fine-print {
    font-size: calc(2.25 * var(--gh));
    color: #c6d5ff;
}
.size-normal {
    font-size: calc(2.75 * var(--gh));
}
.size-large {
    font-size: calc(3.25 * var(--gh));
}
.size-mega {
    font-size: calc(4.5 * var(--gh));
}
.centered-text {
    text-align: center;
}
